.templateCard {
    display: block;
    height: auto;
    background-color: #424249;
    padding: .5rem 1rem;

    main {
        width: 100%;
        text-align: center;

        img {
            width: 120px;
            margin: auto;
        }
    }

    footer {
        text-align: right;
    }

}