#newwResumeContainer {
    width: 100%;
    height: 100%;
    position: relative;

    #paper {
        width: 700px;
        height: 100%;
        margin: 2rem auto;
        padding: 3rem;
        background-color: #fff;
        color: #262626;

        // FORM STYLING
        #paperOuterForm {
            width: 100%;
            display: grid;
            grid-gap: 1rem;
        }

        input,
        textarea {
            background-color: #efefef;
            padding: .2rem 1rem;
            outline: none;
            border: none;
            color: #262626;

            &::placeholder {
                color: #262626;
            }
        }

        // INDIVIDUAL INPUTS STYLING
        #nameInput {
            font-size: 2rem;
        }

        #bioInput {
            resize: none;
            height: 60px;
        }


        // flex
        #cvFlexDivider {
            width: 100%;
            display: flex;
            flex-direction: row;

            #leftSection {
                width: 400px;
                margin-right: 1rem;
            }

            #rightSection {
                width: calc(100% - 400px);
            }
        }
    }

    #saveButton {
        position: fixed;
        right: 2rem;
        bottom: 1rem;
    }
}