<section id="newwResumeContainer">
    <div id="paper">
        <form [formGroup]="paperForm" id="paperOuterForm">

            <!-- FULL NAME -->
            <input formControlName="personName" placeholder="Jhon Doe" id="nameInput">

            <!-- POSITION -->
            <input formControlName="personPosition" placeholder="Full Stack Developer" id="positionInput">


            <!-- BIO -->
            <app-section-header [headerTitle]="'profile'"></app-section-header>
            <textarea matInput formControlName="personBio" placeholder="I am a full stack web developer..." id="bioInput"></textarea>


            <section id="cvFlexDivider">
                <div id="leftSection">
                    <!-- WORK EXPERSIENCE -->
                    <section id="experienceSection" *ngIf="showExperienceSection">
                        <app-section-header [headerTitle]="'experience'"></app-section-header>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </section>

                </div>
                <div id="rightSection">
                    <!-- SKILLS -->
                    <section id="skillsSection" *ngIf="showSkillsSection">
                        <app-section-header [headerTitle]="'skills'"></app-section-header>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </section>

                    <!-- LANGUAGES -->
                    <section id="languagesSection" *ngIf="showLanguagesSection">
                        <app-section-header [headerTitle]="'languages'"></app-section-header>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </section>
                </div>
            </section>


        </form>
        <!-- END OF PAPER -->
    </div>

    <button mat-mini-fab color="primary" id="saveButton">
        <mat-icon>save</mat-icon>
    </button>
</section>