#newwResumeContainer {
    width: 100%;
    height: 100%;
    position: relative;

    #paper {
        width: 700px;
        min-height: 100%;
        height: auto;
        margin: 2rem auto;
        padding: 3rem;
        background-color: #fff;
        color: #262626;

        input,
        textarea {
            padding: .2rem 1rem;
            outline: none;
            border: none;
            color: #262626;
            background-color: #efefef;

            &::placeholder {
                color: #262626;
            }
        }

        #nameInput {
            font-size: 2rem;
            width: 100%;
        }

        #positionInput {
            width: 100%;
            margin-top: .2rem;
            margin-bottom: 1rem;
        }

        #bioInput {
            resize: none;
            height: 60px;
            width: 100%;
            margin-bottom: 1rem;
        }

        .slSharedSpace {
            justify-content: space-between;

            section {
                width: 100%;

                input {
                    margin-bottom: .2rem;
                }

                &:nth-child(1) {
                    margin-right: .3rem;
                }
            }
        }
    }

    // SECTIONS
    .experienceContainer {
        width: 100%;
        padding: .5rem;
        margin-top: .5rem;
        position: relative;
        border: 1px dashed #262626;

        .experienceDate {
            width: 160px;
            margin-right: .5rem;
        }

        .flexRightSection {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                display: block;
                max-width: inherit;
                margin-bottom: .2rem;
            }

            // INDIVIDUAL INPUTS

            .experienceposition {
                font-size: 1.3rem;
                font-weight: bold;
            }

            .experienceCompany {
                font-size: 1.1rem;
                font-weight: 400;
                color: #262626;
            }

            .experienceDescription {
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }
}


// SHARED STYLES
.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.elementsContainer {
    border: 1px dashed #262626;
    position: relative;
    background-color: #efefef;
    margin-bottom: .2rem;
}

.controls {
    position: absolute;
    right: -12px;
    top: -12px;

    button {
        padding: 0;
        margin-left: .2rem;
        font-size: .5rem;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: #262626;
        color: #fff;
    }
}

.newGroupTrigger {
    padding: 0;
    margin: 1rem 0;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}