<section id="templateDisplay">

    <header>
        <h1>Resume Templates</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis culpa doloribus excepturi vero praesentium hic et perferendis iste rerum, labore minima ipsum. Aliquam aspernatur
            unde nam eos. Optio, earum eum! Nihil blanditiis sint similique. Accusamus sed pariatur, inventore quia expedita facere! Aut labore maiores, est magnam ipsum officia facilis.</p>
    </header>



    <div id="grid">
        <app-template-card [templateTitle]="'Black on White'" [templateSubtitle]="'Default minimal template'" [previewUrl]="noTemplatePreviewAvailable" [templateTag]="'basicdefaultminimal'">
        </app-template-card>
    </div>

</section>