#newwResumeContainer {
    width: 100%;
    height: 100%;
    position: relative;

    #paper {
        width: 700px;
        height: 100%;
        margin: 2rem auto;
        padding: 3rem;
        background-color: #fff;
        color: #262626;

        // FORM STYLING
        #paperOuterForm {
            width: 100%;
            display: grid;
            grid-gap: 1rem;
        }

        input,
        textarea {
            background-color: #efefef;
            padding: .2rem 1rem;
            outline: none;
            border: none;
            color: #262626;

            &::placeholder {
                color: #262626;
            }
        }

        // INDIVIDUAL INPUTS STYLING
        #nameInput {
            font-size: 2rem;
        }

        #bioInput {
            resize: none;
            height: 60px;
        }
    }

    #saveButton {
        position: fixed;
        right: 2rem;
        bottom: 1rem;
    }
}

// REUSABLE STYLES
.sectionHeader {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    &:after {
        content: '';
        width: 100%;
        height: 1px;
        margin-left: 1rem;
        background-color: #000;
        flex-grow: 1;
    }
}